<a href="https://colab.research.google.com/github/maclavijo/ML-DS/blob/main/Home_Prices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
 ! pip install -q kaggle
 from google.colab import files
 files.upload()

Saving kaggle.json to kaggle (1).json

{'kaggle.json': b'{"username":"supermac","key":"f725ab0c8092ec6de6f7d704297d35f3"}'}

In [3]:
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [4]:
! kaggle datasets list -s "Melbourne Housing Snapshot"

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                    title                        size  lastUpdated          downloadCount
-------------------------------------  --------------------------  -----  -------------------  -------------
dansbecker/melbourne-housing-snapshot  Melbourne Housing Snapshot  451KB  2018-06-05 12:52:24          67923
ganjedi/melbourne-housing-snapshot     Melbourne Housing Snapshot  614KB  2018-01-23 19:39:49            395
danghle/melbourne-housing-snapshot     Melbourne Housing Snapshot  614KB  2018-01-19 00:34:27             72

In [5]:
! kaggle datasets download dansbecker/melbourne-housing-snapshot

melbourne-housing-snapshot.zip: Skipping, found more recently modified local copy (use --force to force download)

In [17]:
!ls -la

total 476
drwxr-xr-x 1 root root   4096 Aug 12 21:16 .
drwxr-xr-x 1 root root   4096 Aug 12 20:52 ..
drwxr-xr-x 4 root root   4096 Jul 16 13:19 .config
-rw-r--r-- 1 root root     64 Aug 12 20:53 kaggle.json
drwxr-xr-x 2 root root   4096 Aug 12 21:04 melbourne-housing-snapshot
-rw-r--r-- 1 root root 461423 Aug 12 21:02 melbourne-housing-snapshot.zip
drwxr-xr-x 1 root root   4096 Jul 16 13:20 sample_data

In [22]:
file_path = 'melbourne-housing-snapshot/melb_data.csv'
melbourne_data = pd.read_csv(file_path)
melbourne_data.head()

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [23]:
melbourne_data.describe()

              Rooms         Price  ...    Longtitude  Propertycount
count  13580.000000  1.358000e+04  ...  13580.000000   13580.000000
mean       2.937997  1.075684e+06  ...    144.995216    7454.417378
std        0.955748  6.393107e+05  ...      0.103916    4378.581772
min        1.000000  8.500000e+04  ...    144.431810     249.000000
25%        2.000000  6.500000e+05  ...    144.929600    4380.000000
50%        3.000000  9.030000e+05  ...    145.000100    6555.000000
75%        3.000000  1.330000e+06  ...    145.058305   10331.000000
max       10.000000  9.000000e+06  ...    145.526350   21650.000000

[8 rows x 13 columns]